<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BaiduFM WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>BaiduFM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BaiduFMKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BaiduFm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BaiduFmKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Glance - BaiduFM WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Notification - BaiduFM WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67806C871AEA8C70002D94D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6780CE9D1AEC66C1000BAA67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6797967F1AEC542700FF780F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679796891AEC542800FF780F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679796E01AEC59AF00FF780F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>679797271AEC5AA200FF780F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B9C2BD1AEBF18900107696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B9C2C71AEBF18900107696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B9C2E51AEBF43300107696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67B9C2EF1AEBF43300107696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67F0AEB81AD9FF8C000CB588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67F0AECD1AD9FF8C000CB588</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67F0C85D1AEC5B8D00937970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
